body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  .user {
    margin: 4px;
    height: 160px;
    display: flex;
    flex-direction: row;

    .user-avatar {
      width: 150px;
    }

    .user-info {

      .chip {
        margin-right: 4px;
      }

    }

  }

}
